[user]
	name = Steven
	email = steven@ceriously.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = bc3
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
[diff]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[init]
	defaultBranch = main
[help]
	autocorrect = 25
[push]
	default = current
[pull]
	ff = only
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
